<!DOCTYPE html>
<html>

	<head>
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>
		<h1> Friend Evaluator</h1>
<!-- <%@scores.each do |person|%> -->
	<header>
	
</header>
<title>Friend Evaluator</title>
	<body>	

<!-- <%=person['name']%> </br> -->
	<p> Chris Hadfield
	0.9503
	</p>

	<p> Amanda Palmer 0.9402
		
		</p>


	<!-- <% end %> -->

	</body>
</html>