<!DOCTYPE html>
<html>

<head>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <title>Friend Evaluator</title>
</head>
<h1> Friend Evaluator</h1>

<body>
  <%@scores.each do |person|%>
  <!--  </br> -->
  <p> <%=person['name']%>
    <%=person['happiness']%>
  </p>

  <% end %>

</body>
</html>
