<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <title>Friend Evaluator</title>
</head>
<body class="center">
  <h1>Friend Evaluator</h1>
</br>
<form action="/search" method="GET">
  Username:
  <input type="text" name="name">
  <input type="submit">
</form>
<%if flash[:error] != nil then%>
  <%=flash[:error]%>
<%end%>
  <%=yield%>
</body>
</html>
